h1{
    text-align: center;
    color: chartreuse;
}
body{
    background-color: black;
    color: azure;
}

img{
    position: relative;
    left: 80%;
    top: 100%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
   
}
img:hover{
   box-shadow: 0 0 5px 5px rgb(206, 4, 246);
   transition: 0.5s ease-in-out;
}
h1:hover{
    box-shadow: 0 0 2px 2px greenyellow;
}
.txt{
    margin-right: 30%;
    margin-left: 5%;
    border: 10px solid gainsboro;

}
.txt:hover{
    box-shadow: 0 0 5px 5px white;
}